#wrapper {
	overflow: hidden;
	position: relative;
}

.container {
	max-width: rem-calc(1140px);
	width: 100%;
	padding: rem-calc(0 15px);
	margin: 0 auto;
}

body {
	@include breakpoint(medium) {
		font-size: rem-calc(19px);
	}
}

h2,h3 {
	font-weight: 500;
}

a {
	@include animate(color);

	&:hover {
		> .label {		
			text-decoration: underline;
			cursor: pointer;
		}
	}
}

.button {
	@include animate(color background-color border-color);

	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;

	&.prev,
	&.next {
		text-transform: none;
		font-size: rem-calc(14px);
		font-weight: 400;
		text-align: center;
		padding-left: rem-calc(30px);
		padding-right: rem-calc(30px);
		position: relative;
		border-radius: rem-calc(3px);
		min-width: rem-calc(126px);

		@include breakpoint(large) {
			min-width: rem-calc(200px);
		}

		&:before {
			@include size(.5625rem);
			
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%) rotate(45deg);
			left: rem-calc(17px);
			border-left: 3px solid $white;
			border-bottom: 3px solid $white;
		}
	}

	&.next {
		&:before {
			left: auto;
			right: rem-calc(17px);
			border-left: none;
			border-bottom: none;
			border-top: 3px solid $white;
			border-right: 3px solid $white;
		}
	}
}

.read-more {
	position: relative;
	padding-right: rem-calc(50px);
	padding-left: rem-calc(11px);
	border-color: #d0cfcf !important;
	color: $green !important;

	&:hover {
		border-color: darken($green, 10%) !important;
		color: darken($green, 10%) !important;
	}

	i {
		position: absolute;
		top: 50%;
		right: rem-calc(13px);
		transform: translateY(-50%);
		font-size: rem-calc(22px);
		font-weight: 700;
	}
}

.card {
	height: calc(100% - .9375rem);

	.img-holder {
		padding-top: 64.2%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	.card-section {
		padding-bottom: rem-calc(22px);

		p {
			flex-grow: 1;
		}
	}

	.footer-list {
		display: flex;
		flex-wrap: wrap;
		line-height: 1;
		margin: rem-calc(0 -4px 10px);
		color: $green;
		font-weight: 500;

		li {
			border-right: 1px solid $green;
			padding: rem-calc(0 4px);
			margin-bottom: rem-calc(5px);

			&:last-child {
				border-right: none;
			}
		}

		a {
			&:hover {
				color: $black;
			}
		}
	}
}

.articles-list {
	padding-top: rem-calc(33px);
	font-size: rem-calc(14px);

	@include breakpoint(medium) {
		font-size: rem-calc(17px);
	}

	>li {
		border-top: 1px solid #edecec;
		padding: rem-calc(44px 0 30px);
	}
}

.article {
	@include breakpoint(medium) {
		display: flex;
	}

	.img-holder {
		text-align: center;
		padding-bottom: rem-calc(30px);

		@include breakpoint(medium) {
			width: 42.5%;
			flex-shrink: 0;
			padding: rem-calc(10px 33px 0 0);
		}
	}

	.text-holder {
		strong {
			font-size: rem-calc(17px);
			font-weight: 500;

			@include breakpoint(medium) {
				font-size: rem-calc(22px);
			}
		}

		p {
			line-height: 1.82352941;
		}

		.button-group {
			padding-top: rem-calc(21px);
			flex-wrap: wrap;
		}
	}
}

.aside-nav, #sidebar p {
	font-size: 1rem;

	a {
		color: $black;
		text-decoration: underline;

		&:hover {
			color: $green;
		}
	}
}

.aside-nav {
	li {
		margin-bottom: rem-calc(12px);

		&.active {
			a {
				color: $green;
			}
		}
	}
}


.visual-section {
	background-size: cover;
	background-position: 64% 0;
	background-repeat: no-repeat;
	height: rem-calc(400px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	position: relative;

	@include breakpoint(medium) {
		height: rem-calc(520px);
	}

	h1 {
		text-align: left;
		display: inline-block;
		vertical-align: middle;
		background: rgba(0,0,0,.5);
		color: $white;
		padding: rem-calc(9px 27px 14px);

		@include breakpoint(medium) {
			margin-bottom: 1rem;
			font-size: 1.875rem;
		}

		@include breakpoint(large) {
			font-size: 2.625rem;
		}
	}

	.text-block {
		background: rgba(255,255,255,.8);
		color: #7a869a;
		font-size: rem-calc(14px);
		padding: rem-calc(9px 16px);

		@include breakpoint(large) {
			padding: rem-calc(30px 41px 10px);
		}

		p {
			line-height: 1.78571429;
			margin-bottom: 0;

			@include breakpoint(large) {
				margin-bottom: rem-calc(20px);
			}
		}
	}

	.row {
		@include breakpoint(xlarge) {
			margin: 0 -2.34375rem !important;
		}
	}

	.home-a & {
		@include breakpoint(medium) {
			height: rem-calc(550px);
		}

		h1 {
			@include breakpoint(large) {
				display: block;
				padding: rem-calc(41px 40px 43px);
				margin-bottom: rem-calc(10px);
				margin-top: rem-calc(50px);
			}

			br {
				@media screen and (max-width: 1024px) {
					display: none;
				}
			}
		}
	}
}

#content {
	@include breakpoint(medium) {
		width: calc(100% - 14rem);
		padding-right: rem-calc(30px);
	}

	@include breakpoint(xlarge) {
		padding-right: rem-calc(71px);
		width: calc(100% - 19.3125rem);
	}

	&:only-child {
		width: 100% !important;
	}

	> p, > ul, > ol {
		a {
			text-decoration: underline;
		}
	}

	.button-group {
		a.button {
			text-decoration: none;
		}
	}
}

#sidebar {
	@include breakpoint(medium) {
		width: 14rem;
		flex-shrink:0;
		border-left: 1px solid #d8d8d8;
		padding: rem-calc(0 20px 245px);
	}

	@include breakpoint(xlarge) {
		width: rem-calc(309px);
		padding: rem-calc(0 35px 245px 29px);
	}

	.button {
		&.large {
			font-size: 1rem;
			padding-top: rem-calc(21px);
			padding-bottom: rem-calc(19px);
			border-radius: rem-calc(2px);
		}
	}

	h2 {
		font-size: rem-calc(18px);
		margin-bottom: rem-calc(15px);
		color: $dark-gray;
	}

	.holder {
		padding: rem-calc(25px 10px 4px);
	}

	.search-form {
		position: static;
		margin-bottom: rem-calc(30px);

		@include breakpoint(xlarge) {
			margin-bottom: rem-calc(69px);
		}
	}
}

.no-breadcrumbs .two-columns {
	margin-top: $breadcrumbs-margin-top;
}

.two-columns {
	@include breakpoint(medium) {
		display: flex;
		align-items: flex-start;
	}

	&.stretch-layout {
		@include breakpoint(medium) {
			align-items: stretch;
		}
	}

	&.columns-reverse-layout {
		#content {
			@include breakpoint(medium) {
				padding-right: 0;
				padding-left: rem-calc(15px);
			}

			@include breakpoint(xlarge) {
				padding-left: rem-calc(25px);
				width: calc(100% - 16.1875rem);
			}
		}

		#sidebar {
			@include breakpoint(medium) {
				border-left: none;
				border-right: 1px solid #d8d8d8;
				padding-left: 0;
				padding-right: rem-calc(18px);
			}

			@include breakpoint(xlarge) {
				width: 16.1875rem;
			}
		}
	}
}

.info-section {
	background-color: #faf9f9;
	padding: 2rem 0;
	
	@include breakpoint(large) {
		padding: rem-calc(53px 0 47px);
		font-size: rem-calc(20px);
	}

	p {
		@include breakpoint(large) {
			margin-bottom: rem-calc(38px);
		}
	}
}

.links-section {
	padding: 2rem 0;

	@include breakpoint(large) {
		padding: rem-calc(55px 0 91px);
	}

	h2 {
		color: #08131f;
		margin-bottom: rem-calc(39px);
	}

	.row {
		margin: rem-calc(0 -15px);

		@include breakpoint(xlarge) {
			margin: rem-calc(0 -37px); 
		} 
	}
}

.staff-directory {
	padding-top: 2rem;

	@include breakpoint(medium) {
		padding-top: 0;
	}
}

.staff-holder {
	padding-bottom: 2rem;

	@include breakpoint(xlarge) {
		padding-bottom: rem-calc(91px);
	}
}

.check-list {
	color: #666262;

	@include breakpoint(xlarge) {
		padding: rem-calc(3px 0 3px);
	}

	li {
		margin-bottom: rem-calc(5px);

		@include breakpoint(xlarge) {
			margin-bottom: rem-calc(17px);
		}
	}
}

.staff-checkbox-form {
	h2 {
		font-weight: 500;
	}

	input[type="checkbox"] {
		position: fixed;
		left: 0;
		top: 0;
		opacity: 0;
		z-index: -1;
	}

	label {
		position: relative;
		display: block;
		padding-left: rem-calc(32px);
	}

	.fake-input{
		@include animate(border-color);

		width: rem-calc(22px);
		height: rem-calc(22px);
		border: 1px solid #b6b6b6;
		border-radius: rem-calc(2px);
		background-color: #f4f4f4;
		position: absolute;
		top: rem-calc(2px);
		left: 0;

		&:before {
			@include animate(opacity);

			content: '';
			width: rem-calc(14px);
			height: rem-calc(9px);
			position: absolute;
			top: 35%;
			left: 42%;
			border: 3px solid $green;
			border-width: rem-calc(0 0 3px 3px);
			opacity: 0;
			-moz-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
			margin: rem-calc(-4px 0 0 -5px);
		}
	}

	input[type="checkbox"]:checked + .fake-input {
		border-color: $green;

		&:before {
			opacity: 1;
		}
	}
}

.img-for-print {
	position: relative;
	overflow: hidden;
	background: none;

	img {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: auto;
		min-width: 100%;
		min-height: 100%;
		max-width: none;
	}
}

.filtration-section {
	position: relative;
	font-size: 0.875rem;

	&.generic-listing {
		font-size: inherit;

		.loader {
			top: 2.5rem;
		}
	}

	@include breakpoint(xlarge) {
		padding-top: rem-calc(40px);
		
		&.generic-listing {
			padding-top: 0;
		}
	}

	.card {
		border-radius: rem-calc(3px);

		@include breakpoint(medium) {
			margin-bottom: rem-calc(30px);
			height: calc(100% - 1.875rem);
		}

		@include breakpoint(xlarge) {
			margin-bottom: rem-calc(50px);
			height: calc(100% - 3.125rem);
		}

		.img-holder {
			@extend .img-for-print;

			padding-top: 81%;
		}

		.card-section {
			padding: 1rem;
			border: 1px solid #dae3df;
			border-top: none;

			@include breakpoint(large) {
				padding: rem-calc(30px);
			}
		}

		h3 {
			font-size: rem-calc(18px);
			font-weight: 700;
			margin-bottom: rem-calc(10px);
			color: #495651;
		}

		.subtitle {
			display: block;
			font-size: rem-calc(13px);
			color: $green;
			font-weight: 500;
			margin-bottom: rem-calc(13px);
		}
		
		.text {
			color: $black;

			p {
				line-height: 1.78571429;
				margin-bottom: 0;
			}
		} 
	}
}

.filtration-items-holder {
	.row {
		margin: rem-calc(0 -12px); 
	}

	.columns {
		padding: rem-calc(0 12px);

		@media screen and (max-width: 768px) {
			flex: 0 0 50%;
		}

		@media screen and (max-width: 480px) {
			flex: 0 0 100%;
		}
	}
}

.filtration-buttons-holder {
	@extend %clearfix;

	margin: rem-calc(0 -10px 10px);

	@include breakpoint(xlarge) {
		margin-top: rem-calc(-10px);
	}

	.button {
		margin: rem-calc(0 10px);

		&.prev {
			float: left;
		}

		&.next {
			float: right;
		}
	}
}

.accessibility{
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

.accessibility:focus{
	position:static;
	width:auto;
	height:auto;
}

input[type="checkbox"]:focus + .fake-input {
	border: 1px solid blue !important;
}

.loading {
	.loader {
		display: block;
	}
}

.loader {
	font-size: rem-calc(20px);
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	position: absolute;
	top: rem-calc(250px);
	left: 50%;
	transform: translate(-50%, 0);
	text-indent: -9999em;
	-webkit-animation: load5 1.1s infinite ease;
	animation: load5 1.1s infinite ease;
	z-index: 100;
	display: none;
  }

@-webkit-keyframes load5 {
	0%,
	100% {
	  box-shadow: 0em -2.6em 0em 0em #c0c0c0, 1.8em -1.8em 0 0em rgba(192,192,192, 0.2), 2.5em 0em 0 0em rgba(192,192,192, 0.2), 1.75em 1.75em 0 0em rgba(192,192,192, 0.2), 0em 2.5em 0 0em rgba(192,192,192, 0.2), -1.8em 1.8em 0 0em rgba(192,192,192, 0.2), -2.6em 0em 0 0em rgba(192,192,192, 0.5), -1.8em -1.8em 0 0em rgba(192,192,192, 0.7);
	}
	12.5% {
	  box-shadow: 0em -2.6em 0em 0em rgba(192,192,192, 0.7), 1.8em -1.8em 0 0em #c0c0c0, 2.5em 0em 0 0em rgba(192,192,192, 0.2), 1.75em 1.75em 0 0em rgba(192,192,192, 0.2), 0em 2.5em 0 0em rgba(192,192,192, 0.2), -1.8em 1.8em 0 0em rgba(192,192,192, 0.2), -2.6em 0em 0 0em rgba(192,192,192, 0.2), -1.8em -1.8em 0 0em rgba(192,192,192, 0.5);
	}
	25% {
	  box-shadow: 0em -2.6em 0em 0em rgba(192,192,192, 0.5), 1.8em -1.8em 0 0em rgba(192,192,192, 0.7), 2.5em 0em 0 0em #c0c0c0, 1.75em 1.75em 0 0em rgba(192,192,192, 0.2), 0em 2.5em 0 0em rgba(192,192,192, 0.2), -1.8em 1.8em 0 0em rgba(192,192,192, 0.2), -2.6em 0em 0 0em rgba(192,192,192, 0.2), -1.8em -1.8em 0 0em rgba(192,192,192, 0.2);
	}
	37.5% {
	  box-shadow: 0em -2.6em 0em 0em rgba(192,192,192, 0.2), 1.8em -1.8em 0 0em rgba(192,192,192, 0.5), 2.5em 0em 0 0em rgba(192,192,192, 0.7), 1.75em 1.75em 0 0em #c0c0c0, 0em 2.5em 0 0em rgba(192,192,192, 0.2), -1.8em 1.8em 0 0em rgba(192,192,192, 0.2), -2.6em 0em 0 0em rgba(192,192,192, 0.2), -1.8em -1.8em 0 0em rgba(192,192,192, 0.2);
	}
	50% {
	  box-shadow: 0em -2.6em 0em 0em rgba(192,192,192, 0.2), 1.8em -1.8em 0 0em rgba(192,192,192, 0.2), 2.5em 0em 0 0em rgba(192,192,192, 0.5), 1.75em 1.75em 0 0em rgba(192,192,192, 0.7), 0em 2.5em 0 0em #c0c0c0, -1.8em 1.8em 0 0em rgba(192,192,192, 0.2), -2.6em 0em 0 0em rgba(192,192,192, 0.2), -1.8em -1.8em 0 0em rgba(192,192,192, 0.2);
	}
	62.5% {
	  box-shadow: 0em -2.6em 0em 0em rgba(192,192,192, 0.2), 1.8em -1.8em 0 0em rgba(192,192,192, 0.2), 2.5em 0em 0 0em rgba(192,192,192, 0.2), 1.75em 1.75em 0 0em rgba(192,192,192, 0.5), 0em 2.5em 0 0em rgba(192,192,192, 0.7), -1.8em 1.8em 0 0em #c0c0c0, -2.6em 0em 0 0em rgba(192,192,192, 0.2), -1.8em -1.8em 0 0em rgba(192,192,192, 0.2);
	}
	75% {
	  box-shadow: 0em -2.6em 0em 0em rgba(192,192,192, 0.2), 1.8em -1.8em 0 0em rgba(192,192,192, 0.2), 2.5em 0em 0 0em rgba(192,192,192, 0.2), 1.75em 1.75em 0 0em rgba(192,192,192, 0.2), 0em 2.5em 0 0em rgba(192,192,192, 0.5), -1.8em 1.8em 0 0em rgba(192,192,192, 0.7), -2.6em 0em 0 0em #c0c0c0, -1.8em -1.8em 0 0em rgba(192,192,192, 0.2);
	}
	87.5% {
	  box-shadow: 0em -2.6em 0em 0em rgba(192,192,192, 0.2), 1.8em -1.8em 0 0em rgba(192,192,192, 0.2), 2.5em 0em 0 0em rgba(192,192,192, 0.2), 1.75em 1.75em 0 0em rgba(192,192,192, 0.2), 0em 2.5em 0 0em rgba(192,192,192, 0.2), -1.8em 1.8em 0 0em rgba(192,192,192, 0.5), -2.6em 0em 0 0em rgba(192,192,192, 0.7), -1.8em -1.8em 0 0em #c0c0c0;
	}
}

@keyframes load5 {
	0%,
	100% {
	  box-shadow: 0em -2.6em 0em 0em #c0c0c0, 1.8em -1.8em 0 0em rgba(192,192,192, 0.2), 2.5em 0em 0 0em rgba(192,192,192, 0.2), 1.75em 1.75em 0 0em rgba(192,192,192, 0.2), 0em 2.5em 0 0em rgba(192,192,192, 0.2), -1.8em 1.8em 0 0em rgba(192,192,192, 0.2), -2.6em 0em 0 0em rgba(192,192,192, 0.5), -1.8em -1.8em 0 0em rgba(192,192,192, 0.7);
	}
	12.5% {
	  box-shadow: 0em -2.6em 0em 0em rgba(192,192,192, 0.7), 1.8em -1.8em 0 0em #c0c0c0, 2.5em 0em 0 0em rgba(192,192,192, 0.2), 1.75em 1.75em 0 0em rgba(192,192,192, 0.2), 0em 2.5em 0 0em rgba(192,192,192, 0.2), -1.8em 1.8em 0 0em rgba(192,192,192, 0.2), -2.6em 0em 0 0em rgba(192,192,192, 0.2), -1.8em -1.8em 0 0em rgba(192,192,192, 0.5);
	}
	25% {
	  box-shadow: 0em -2.6em 0em 0em rgba(192,192,192, 0.5), 1.8em -1.8em 0 0em rgba(192,192,192, 0.7), 2.5em 0em 0 0em #c0c0c0, 1.75em 1.75em 0 0em rgba(192,192,192, 0.2), 0em 2.5em 0 0em rgba(192,192,192, 0.2), -1.8em 1.8em 0 0em rgba(192,192,192, 0.2), -2.6em 0em 0 0em rgba(192,192,192, 0.2), -1.8em -1.8em 0 0em rgba(192,192,192, 0.2);
	}
	37.5% {
	  box-shadow: 0em -2.6em 0em 0em rgba(192,192,192, 0.2), 1.8em -1.8em 0 0em rgba(192,192,192, 0.5), 2.5em 0em 0 0em rgba(192,192,192, 0.7), 1.75em 1.75em 0 0em #c0c0c0, 0em 2.5em 0 0em rgba(192,192,192, 0.2), -1.8em 1.8em 0 0em rgba(192,192,192, 0.2), -2.6em 0em 0 0em rgba(192,192,192, 0.2), -1.8em -1.8em 0 0em rgba(192,192,192, 0.2);
	}
	50% {
	  box-shadow: 0em -2.6em 0em 0em rgba(192,192,192, 0.2), 1.8em -1.8em 0 0em rgba(192,192,192, 0.2), 2.5em 0em 0 0em rgba(192,192,192, 0.5), 1.75em 1.75em 0 0em rgba(192,192,192, 0.7), 0em 2.5em 0 0em #c0c0c0, -1.8em 1.8em 0 0em rgba(192,192,192, 0.2), -2.6em 0em 0 0em rgba(192,192,192, 0.2), -1.8em -1.8em 0 0em rgba(192,192,192, 0.2);
	}
	62.5% {
	  box-shadow: 0em -2.6em 0em 0em rgba(192,192,192, 0.2), 1.8em -1.8em 0 0em rgba(192,192,192, 0.2), 2.5em 0em 0 0em rgba(192,192,192, 0.2), 1.75em 1.75em 0 0em rgba(192,192,192, 0.5), 0em 2.5em 0 0em rgba(192,192,192, 0.7), -1.8em 1.8em 0 0em #c0c0c0, -2.6em 0em 0 0em rgba(192,192,192, 0.2), -1.8em -1.8em 0 0em rgba(192,192,192, 0.2);
	}
	75% {
	  box-shadow: 0em -2.6em 0em 0em rgba(192,192,192, 0.2), 1.8em -1.8em 0 0em rgba(192,192,192, 0.2), 2.5em 0em 0 0em rgba(192,192,192, 0.2), 1.75em 1.75em 0 0em rgba(192,192,192, 0.2), 0em 2.5em 0 0em rgba(192,192,192, 0.5), -1.8em 1.8em 0 0em rgba(192,192,192, 0.7), -2.6em 0em 0 0em #c0c0c0, -1.8em -1.8em 0 0em rgba(192,192,192, 0.2);
	}
	87.5% {
	  box-shadow: 0em -2.6em 0em 0em rgba(192,192,192, 0.2), 1.8em -1.8em 0 0em rgba(192,192,192, 0.2), 2.5em 0em 0 0em rgba(192,192,192, 0.2), 1.75em 1.75em 0 0em rgba(192,192,192, 0.2), 0em 2.5em 0 0em rgba(192,192,192, 0.2), -1.8em 1.8em 0 0em rgba(192,192,192, 0.5), -2.6em 0em 0 0em rgba(192,192,192, 0.7), -1.8em -1.8em 0 0em #c0c0c0;
	}
}

.slick-next,
.slick-prev {
	@include size(3.125rem);
	@include animate(opacity);

	position: absolute;
	border-radius: 50%;
	background-color: #000;
	opacity: .6;
	bottom: 1rem;
	z-index: 8;

	@include breakpoint(medium) {
		top: 50%;
		transform: translateY(-50%);
	}

	&:before {
		@include size(.75rem);

		content: "";
		position: absolute;
		top: rem-calc(19px);
		left: rem-calc(20px);
		transform: rotate(45deg);
		border-left: .25rem solid $white;
		border-bottom: .25rem solid $white;
	}

	&:hover {
		opacity: 1;
	}
}

.slick-prev {
	left: 1rem;

	@include breakpoint(xxlarge) {
		left: 5%;
	}
}

.slick-next {
	right: 1rem;

	@include breakpoint(xxlarge) {
		right: 5%;
	}

	&:before {
		left: rem-calc(18px);
		transform: rotate(-135deg);
	}
}

.main-slider {
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.slider-image {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat; 
	height: 100%;
}

.slick-track,
.slick-list {
	height: 100%;
}

button.slick-arrow {
	text-indent: -100000px;
}

.blog-list {
	.blog-item {
		background-color: $light-gray;
		padding: 1rem;
		margin: 0 0 1rem 0;

		.blog-item-title {
			a {
				color: inherit;
			}
		}

		.blog-author-image {
			@include box(8rem, $circle: true);

			&.anon {
				line-height: 8rem;
				background-color: $white;

				font-size: 4rem;

				text-align: center;
				vertical-align: middle;
				display: inline-block;

				.icon-user {
					line-height: inherit;
				}
			}
		}
	}
}

.comment-section {
	.comment {
		background-color: $light-gray;
		padding: 1rem;
		margin: 0 0 1rem 0;

		.comment-meta {
			margin-bottom: 1rem;
			
			h3 {
				font-size: inherit;
			}
		}

		p:last-child() {
			margin: 0;
		}
	}
}

.is-dropdown-submenu-parent {
	> .menu {
		display: none;
	}

	&.is-active {
		> .menu {
			display: block;
		}
	}
}

.row {
	&.is-display-block {
		display: block;
	}
}