html {
    scroll-behavior: smooth;
}

#content {
    a.return-to-top {
        text-decoration: none;

        &:hover {
            text-decoration: underline;

            i {
                text-decoration: underline;
            }
        }

    }

    table {
        display: block;
        width: 100%;
        max-height: 30rem;
        overflow: auto;

        caption {
            text-align: left;

            .expand-table {
                margin-right: 0.5rem;
            }
        }

        &.no-auto-scroll {
            display: table;
            max-height: inherit;
            overflow: inherit;
        }
    }
}

#table-modal .expand-table {
    display: none;

    table {
        max-height: inherit;
        overflow-y: inherit;
        
        caption {
            text-align: center;
        }
    }
}

#meta {
    padding-bottom: 1rem;

    a.label:hover {
        cursor: pointer;
        color: white;
        text-decoration: underline;
    }

    p {
        margin-bottom: 0;
        
        &.tags {
            margin-bottom: 0.5rem;
        }
    }
}

h2#toc {
    @extend h4;
}

.slick {
    &.pagination {
        margin-top: $pagination-margin-bottom;

        .current {
            a {
                color: $white;

                &:hover {
                    background-color: inherit;
                    text-decoration: underline;
                }
            }
        }
    }
}

#image-modal-body img {
    min-width: 100%;
}